apipkg==1.5
atomicwrites==1.3.0
attrs==18.2.0
coverage==4.5.2
execnet==1.5.0
-e git+https://github.com/ramitmittal/fsanitize.git@af471d7fadc291aaa6bf622de38e74b06231dc39#egg=fsanitize
more-itertools==6.0.0
pep8==1.7.1
pluggy==0.8.1
py==1.7.0
pytest==4.3.0
pytest-cache==1.0
pytest-cov==2.6.1
pytest-pep8==1.0.6
six==1.12.0
